*{margin: 0; padding: 0;}
body{
    text-align: center; 
}

#wrap{
    text-align: left;
    width: 300px;
    height: 200px;
    margin: 30px auto;
    color: red;
    border: 2px black double;
    background-color: rgba(0, 255, 255, 0.781);
    
}
#wrap h1{
    font-size: 16px;
    background-color: antiquewhite;
    text-align: center;
}
#wrap .cd {
    width:  100%;
    margin: 8px 5px;

}


#wrap .cd h4{
    width: 90px;
    padding-right: 5px;
    float: left;
}
#wrap .cd input{
    width: 180px;
    border: 1px black solid;
}
#wrap .cd input:hover{
    background-color: rgba(255, 127, 80, 0.199);
    border: 2px red double;
}
#wrap .giai{
    width: 100px;
    height: 30px;
    margin: 10px 100px;
    border: 1px black solid;
    background-color: rgb(127, 47, 255);
}
#wrap .giai:hover{
    background-color: aliceblue;
    color: rgb(127, 47, 255);
    font-weight: bold;
    font-size: 16px; 
}
